[package]
name = "goap"
version = "0.1.2"
authors = ["ruin <ipickering2@gmail.com>"]

[dependencies]
serde = "1.0"
serde_derive = "1.0"

[dev-dependencies]
rand = "0.3.15"
toml = "0.4.1"
enum_derive = "0.1.7"
macro-attr = "0.2.0"

[features]
debug = []